.myNavBar {
position: fixed;
  top: 0;
  width: 100%;
  max-width: 1450px;
  height: 70px;
  background-color: white;
  left: 50%;
  transform: translateX(-50%);
  box-sizing: border-box;
  z-index: 99999;
}

.myNavBarBackground {
position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
  background-color: white;
  left: 50%;
  transform: translateX(-50%);
  border-bottom: 0.1px solid lightgrey;
    z-index: 99999;
}

.myLogo {
position: fixed;
	left: 7px;
	height: 45px;
	top: 13px;
	border-radius: 8px;
}


    .myNavBarButton1Text {
    	position: fixed;
    	cursor: pointer;
        top: 7px;
        left: 200px;
        font-size: 18px;
        
        text-decoration: underline 0.3em rgba(253, 216, 72, 0);
        text-underline-offset: 0.3em;
        text-decoration-thickness: 3px;
  		transition: text-decoration-color 400ms;
    }
    .myNavBarButton2Text {
    	position: fixed;
    	cursor: pointer;
    	top: 7px;
    	left: 270px;
    	font-size: 18px;
    	
    	text-decoration: underline 0.3em rgba(253, 216, 72, 0);
        text-underline-offset: 0.3em;
        text-decoration-thickness: 3px;
  		transition: text-decoration-color 400ms;
    }
    .myNavBarButton3Text {
    	position: fixed;
    	cursor: pointer;
    	top: 7px;
    	left: 343px;
    	font-size: 18px;
    	
    	text-decoration: underline 0.3em rgba(253, 216, 72, 0);
        text-underline-offset: 0.3em;
        text-decoration-thickness: 3px;
  		transition: text-decoration-color 400ms;
    }
    
        .myNavBarButton4Text {
    	position: fixed;
    	cursor: pointer;
    	top: 9px;
    	left: 490px;
    	font-size: 17px;
    	
    	text-decoration: underline 0.3em rgba(253, 216, 72, 0);
        text-underline-offset: 0.3em;
        text-decoration-thickness: 3px;
  		transition: text-decoration-color 400ms;
    }
    
    .myNavBarButton1Text:hover {
    	text-decoration-color: rgba(253, 216, 72, 1);
    }
    .myNavBarButton2Text:hover {
    	text-decoration-color: rgba(253, 216, 72, 1);
    }
    .myNavBarButton3Text:hover {
    	text-decoration-color: rgba(253, 216, 72, 1);
    }
    .myNavBarButton4Text:hover {
    	text-decoration-color: rgba(253, 216, 72, 1);
    }


@media only screen and (max-width: 990px) {
  .myNavBarButton1,
  .myNavBarButton2,
  .myNavBarButton3,
  .myNavBarButton4 {
    visibility: hidden;
  }
}


.myHeader {
	background-image: url("assets/header3.png");
	background-repeat: no-repeat, repeat;
   	background-size: cover;
   	height:70vh;
   	width:100%;
   	min-height: 400px;
	background-position: center;
	text-align: center;
	color: white;
	background-color: black;
}

.myTitle {
    margin-right: 35px;
    font-size: 42px;
}
.myTitle2 {
    margin-right: 30px;
}

.myHeaderContainer {
text-align: left;
position: absolute; 
top: 25vh;
background-color: transparent;
width: 100vw;
max-width: 1200px;
margin-left: 15px;
margin-right: 18px;
left: 50%;
transform: translateX(-49%);
}

@media only screen and (max-width: 630px) {
.myHeaderContainer {top: 22vh;}
}

@media only screen and (max-width: 495px) {
.myHeaderContainer {top: 16vh;}
}


»
➦
›