.myNavBar {
	position: fixed;
	top: 0;
	width: 100%;
	max-width: 1450px;
	height: 70px;
	background-color: white;
	left: 50%;
	transform: translateX(-50%);
	z-index: 99999;
}


.myMobileNavbar {
	position:fixed;
	top: -300px;
	width: 100%;
	height: 300px;
	background-color: green;
	left: 0px;
	z-index: 88888;
	transition: 500ms ease;
}


.myNavBarBackground {
	position: fixed;
	top: 0;
	width: 100%;
	height: 70px;
	background-color: white;
	left: 50%;
	transform: translateX(-50%);
	border-bottom: 0.1px solid lightgrey;
	z-index: 99999;

}

.myNavBurger {
position: fixed;
right: 7px;
top: 15px;
width: 40px;
visibility: hidden;
}

.myLogo {
	position: fixed;
	left: 7px;
	height: 45px;
	top: 13px;
	border-radius: 8px;
	cursor: pointer;
}

.myKontantButton {
	position: fixed;
	right: 7px;
	height: 45px;
	width: 130px;
	top: 13px;
	border-radius: 8px;
	background-color: rgb(255, 216, 36);
	transition: 200ms ease;
	cursor: pointer;
	text-align: center;
	font-size: 17px;
	font-weight: 700;
	margin: auto;
	line-height: 12px;
	letter-spacing: 0.5px;
}

.myKontantButton:hover {
	height: 47px;
	width: 150px;
	top: 12px;
}

.myNavBarButton1Text {
	position: fixed;
	cursor: pointer;
	top: 7px;
	left: 200px;
	font-size: 18px;

	text-decoration: underline 0.3em rgba(253, 216, 72, 0);
	text-underline-offset: 0.3em;
	text-decoration-thickness: 3px;
	transition: text-decoration-color 400ms;
}

.myNavBarButton2Text {
	position: fixed;
	cursor: pointer;
	top: 7px;
	left: 270px;
	font-size: 18px;

	text-decoration: underline 0.3em rgba(253, 216, 72, 0);
	text-underline-offset: 0.3em;
	text-decoration-thickness: 3px;
	transition: text-decoration-color 400ms;
}

.myNavBarButton3Text {
	position: fixed;
	cursor: pointer;
	top: 7px;
	left: 343px;
	font-size: 18px;

	text-decoration: underline 0.3em rgba(253, 216, 72, 0);
	text-underline-offset: 0.3em;
	text-decoration-thickness: 3px;
	transition: text-decoration-color 400ms;
}

.myNavBarButton4Text {
	position: fixed;
	cursor: pointer;
	top: 9px;
	left: 490px;
	font-size: 17px;

	text-decoration: underline 0.3em rgba(253, 216, 72, 0);
	text-underline-offset: 0.3em;
	text-decoration-thickness: 3px;
	transition: text-decoration-color 400ms;
}

.myNavBarButton1Text:hover {
	text-decoration-color: rgba(253, 216, 72, 1);
}

.myNavBarButton2Text:hover {
	text-decoration-color: rgba(253, 216, 72, 1);
}

.myNavBarButton3Text:hover {
	text-decoration-color: rgba(253, 216, 72, 1);
}

.myNavBarButton4Text:hover {
	text-decoration-color: rgba(253, 216, 72, 1);
}


@media only screen and (max-width: 990px) {

	.myNavBarButton1,
	.myNavBarButton2,
	.myNavBarButton3,
	.myNavBarButton4 {
		visibility: hidden;
	}
	
	.myNavBurger {
		visibility: visible;
	}
	
	.myKontantButton {
		right: 55px;
	}
	
}


.myHeader {
	background-image: url("assets/header3.png");
	background-repeat: no-repeat, repeat;
	background-size: cover;
	height: 65vh;
	width: 100%;
	min-height: 400px;
	background-position: center;
	text-align: center;
	color: white;
	background-color: black;
}

.myTitle {
	margin-right: 32px;
	font-size: 44px;
}

.myTitle2 {
	margin-right: 30px;
}

@media only screen and (max-width: 480px) {
	.myTitle {
		font-size: 32px;
	}

	.myTitle2 {
		font-size: 20px;
	}
	
	.myHeaderContainer {
	top: 56%;
	}
	
}

.myHeaderContainer {
	text-align: left;
	position: relative;
	background-color: transparent;
	max-width: 1200px;
	margin-left: 7px;
	margin-right: 16px;
	left: 50%;
	top: 52%;
	transform: translate(-50%, -50%);
}


» ➦ ›